.colorful-title {
    font-size: 2em;
  }
  
  .char-s { color: #FF5733; } /* Coral */
  .char-t { color: #FFC300; } /* Sunflower */
  .char-u { color: #FF5733; } /* Coral */
  .char-g { color: #C70039; } /* Imperial Red */
  .char-e { color: #900C3F; } /* Red Violet */
  .char-a { color: #581845; } /* Half Baked */
  .char-r { color: #3D9970; } /* Eucalyptus */
  .char-f { color: #FF5733; } /* Coral */
  .char-o { color: #FFC300; } /* Sunflower */
  .char-m { color: #C70039; } /* Imperial Red */
  .char-s { color: #900C3F; } /* Red Violet */
  