* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  background-color: #F7F7F8;
}

.btn {
  background-color: #7355F7;
  color: white;
}

.btn:hover {
  background-color: #4F29F5;
  color: white;
}